<template>
    <div class="character-list">
        <CharacterList v-bind:characters="characters" />
        <Button @click="$refs.uploader.click()">Add Character</Button>
        <input
            ref="uploader"
            style="display: none;"
            type="file"
            :name="addCharacter"
            @change="addCharacter"
            accept="image/*"
        />
    </div>
</template>

<script lang="ts">
import { mapActions, mapGetters, mapState } from 'vuex';

import CharacterList from '@/components/library/characters/CharacterList.vue';
export default {
    components: {
        CharacterList: CharacterList,
    },
    computed: {
        ...mapGetters('gamestate/', {
            selectedTokenId: 'selectedTokenId',
        }),
        ...mapState('live', {
            director: 'director',
        }),
        ...mapState('library', {
            characters: 'characters',
        }),
    },
    created: function() {
        this.getCharacters();
    },
    methods: {
        ...mapActions('library', {
            addCharacter: 'addCharacter',
            getCharacters: 'getCharacters',
        }),
    },
};
</script>
