<template>
    <div class="container">
        <div v-if="me">
            <button v-on:click="onDraw">Draw {{ isDrawing }}</button>
            Signed in as
            <a @click="showEditor(true)"
                ><img class="profile" :src="me.imageUrl" width="25" height="25" /> {{ me.displayName }}</a
            >
            <button v-on:click="returnToCampaignList">Campaigns</button>
            <button v-on:click="signOutOidc">Sign out</button>
        </div>
        <div v-else>
            Please sign in.
            <button v-on:click="signIn">Sign In</button>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'UserPanel',
    state: {},
    computed: {
        ...mapState('drawing', {
            isDrawing: 'active',
        }),
        ...mapState('profile', {
            me: 'me',
        }),
        hasAccess: function() {
            return this.oidcIsAuthenticated || this.$route.meta.isPublic;
        },
    },
    methods: {
        ...mapActions(['signOutOidc', 'oidcSignInCallback']),
        ...mapActions(['drawing/toggle', 'toggleDrawing']),
        ...mapActions('profile', {
            showEditor: 'edit',
        }),
        signIn() {
            this.$router.push({ path: '/play' });
        },
        returnToCampaignList() {
            this.$router.push({ path: '/campaign-list' });
        },
        onDraw() {
            this.$store.dispatch('drawing/toggle');
        },
    },
};
</script>

<style scoped>
.container {
    position: fixed;
    top: 0;
    left: 50%;
    padding: 0.5em;
    background-color: #ddd;
    font: x-small Consolas, Monaco, monospace;
    color: black;
    border: 2px solid #345;
    transform: translate(-50%, 0%);
    z-index: 1000;
}

img {
    border-radius: 50%;
    object-fit: cover;
}
</style>
