<template>
    <main>
        <div class="createCampaignDiv">
            <section>
                <h1 v-if="campaign.id === null">Create New Campaign</h1>
                <h1 v-if="campaign.id !== null">Edit Campaign</h1>
                <label for="campaign-name">
                    Campaign Name
                </label>
                <input id="campaign-name" v-model="campaign.name" type="text" />
                <label for="campaign-description">
                    Campaign Description
                </label>
                <textarea
                    cols="68"
                    rows="5"
                    maxlength="310"
                    id="campaign-description"
                    v-model="campaign.description"
                ></textarea>
                <label for="campaign-description">
                    <div class="bannerUpload">
                        Campaign Banner Upload
                        <label class="file">
                            <template>
                                <div>
                                    <b-form-file
                                        v-model="file"
                                        :state="Boolean(file)"
                                        placeholder="Choose a banner or drop it here..."
                                        drop-placeholder="Drop banner here..."
                                        @change="onBannerSelected"
                                        class="form-file bannerImage"
                                        accept=".jpg, .png, .gif"
                                        size="md"
                                    ></b-form-file>
                                    {{ file ? btnOnClick() : '' }}
                                </div>
                            </template>
                        </label>
                        <img
                            v-if="!value"
                            src="https://dummyimage.com/380x100/000000/FFFFFF"
                            alt=""
                            aria-placeholder="Select image to preview"
                        />
                        <div v-show="value">
                            <h3>Image Preview</h3>
                            <img :src="image" alt="" aria-placeholder="Select image to preview" />
                            <span>
                                <button id="uploadBtn" @click="uploadImage(campaign)">Upload</button>
                                <div v-show="loader" class="loader"></div>
                                <span><p class="uploadOk text-success" v-show="upload">Done!</p></span>
                            </span>
                        </div>
                    </div>
                </label>
                <div class="create">
                    <button v-if="campaign.id === null" @click="saveCampaign(campaign)">Create</button>
                    <button v-else @click="saveEditedCampaign">Save</button>
                    <router-link :to="{ name: 'campaign-list', params: { '0': 'campaign-list' } }" tag="button"
                        >Cancel</router-link
                    >
                </div>
            </section>
        </div>
    </main>
</template>

<script>
import axios from 'axios';
import { addCampaign } from '../../core/api/files/files.js';
import moment from 'moment';

export default {
    data() {
        return {
            campaign: {
                id: null,
                name: '',
                owner: '',
                description: '',
                players: [],
                imageUrl: '',
            },
            loader: false,
            image: null,
            value: false,
            imageData: '',
            upload: false,
            file: null,
        };
    },
    beforeRouteEnter(to, from, next) {
        if (to.params.id) {
            axios
                .get(`/api/campaigns/${to.params.id}`)
                .then(response => {
                    next(vueMethods => vueMethods.setData(response.data));
                })
                .catch(error => {
                    next(vueMethods => vueMethods.setError(error));
                });
        } else {
            next();
        }
    },
    methods: {
        setData(data) {
            this.campaign = data;
        },
        setError() {
            this.error = 'Error loading campaign to edit.';
        },
        saveCampaign(campaign) {
            let date = new Date();
            campaign.created = moment(date, 'YYYY-MM-DD').format('MM/DD/YYYY');
            this.campaign = campaign;
            let method = this.campaign.id ? 'put' : 'post';
            axios[method]('/api/campaigns', this.campaign).then(() => {
                this.$router.push('/');
            });
        },
        saveEditedCampaign() {
            let method = this.campaign.id ? 'put' : 'post';
            axios[method]('/api/campaigns', this.campaign).then(() => {
                this.$router.push('/');
            });
        },
        onBannerSelected(event) {
            this.upload = false;
            document.getElementById('uploadBtn').disabled = false;
            const selectedImage = event.target.files[0];
            this.imageData = event.target.files;
            this.createBase64Image(selectedImage);
        },
        createBase64Image(fileObject) {
            const reader = new FileReader();
            reader.readAsDataURL(fileObject);
            reader.onload = event => {
                this.image = event.target.result;
            };
        },
        uploadImage() {
            this.loader = true;
            addCampaign(this.imageData).then(result => {
                this.campaign.imageUrl = result.data.files[0].url;
                this.upload = true;
                let btn = document.getElementById('uploadBtn');
                btn.style.backgroundColor = 'gray';
                btn.disabled = true;
                this.loader = false;
            });
        },
        btnOnClick() {
            this.value = true;
        },
    },
};
</script>

<style lang="scss" scoped>
section {
    display: flex;
    flex-direction: column;
    max-width: 90ch;
}

.createCampaignDiv {
    width: 560px;
    padding: 0px;
    margin: 0;
    padding-bottom: 0px;
    border-radius: 10px;
    color: white;
}

.createCampaignDiv h1 {
    background-color: rgb(138, 138, 141);
    position: relative;
    padding: 0;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 25px;
    text-align: center;
}

input#campaign-name {
    position: relative;
    top: 10px;
    border: 1px solid black;
}

.createCampaignDiv label {
    color: black;
    padding-top: 10px;
}

textarea {
    margin-bottom: 0.2rem;
    height: 80px;
    margin-top: 10px;
    white-space: pre-wrap;
    border: 1px solid black;
}

input {
    margin-top: 0;
    margin-bottom: 1rem;
}

input[type='file'] {
    position: relative;
    top: 10px;
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}
main {
    padding: 2rem;
    padding-left: 70px;
}

button:first-child {
    margin-right: 1rem;
}

button:nth-child(2) {
    background-color: transparent;
    color: white;
}

.bannerUpload button {
    border: 0.5px solid white;
    border-radius: 8px;
    background-color: rgb(73, 74, 77);
    position: relative;
    top: 50px;
}

.bannerImage::-webkit-file-upload-button {
    background-color: rgb(93, 94, 100);
    border: 0;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(90, 87, 87);
    cursor: pointer;
}

section {
    border: 0.5px solid rgb(95, 93, 93);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-left: -10px;
}

.create {
    margin: 0;
    padding: 4px;
    border-radius: 6px;
    background-color: rgb(101, 102, 104);
}

input[type='file'] {
    margin-left: -10px;
    margin-bottom: 20px;
}

section h3 {
    margin: 0;
}

section img:placeholder-shown {
    color: white;
}

section img {
    width: 350px;
    height: 100px;
    border: 2px dashed lightgray;
    border-radius: 10px;
    object-fit: cover;
}

span {
    position: relative;
    top: -24px;
    left: 10px;
}

section span .uploadOk {
    width: 48px;
    height: 48px;
    border: none;
    position: relative;
    top: 70px;
    right: 10px;
}
.create button {
    background-color: rgb(42, 101, 195);
    margin: 2px;
}

.loader {
    position: relative;
    left: 130px;
    bottom: 55px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid gray;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-file {
    font-size: 1rem;
    width: 400px;
    color: black;
}
</style>
