<template>
    <main>
        <b-container fluid>
            <div class="row">
                <div class="mythic-menu col-2 p-3 mb-0 bg-light text-black border">
                    <b-list-group class="mr-3">
                        <b-list-group-item button class="d-flex justify-content-between align-items-center p-3"
                            ><b-icon icon="grid1x2-fill"></b-icon
                            ><span class="menu-items">Dashboard</span></b-list-group-item
                        >
                        <b-list-group-item button class="d-flex justify-content-between align-items-center p-3"
                            ><b-icon icon="dice5-fill"></b-icon
                            ><span class="menu-items">My Campaigns</span></b-list-group-item
                        >
                        <b-list-group-item button class="d-flex justify-content-between align-items-center p-3"
                            ><b-icon icon="file-person-fill"></b-icon
                            ><span class="menu-items">Forums</span></b-list-group-item
                        >
                    </b-list-group>
                </div>
                <div class="col-10 p-3 mb-0 bg-light text-black border">
                    <b-navbar toggleable="lg" type="dark" variant="secondary">
                        <b-navbar-brand>My Campaigns</b-navbar-brand>
                    </b-navbar>

                    <!-- Sort by - not implemented yet -->
                    <b-navbar type="light" variant="light" class="border border-bottom-0 m-0">
                        <b-navbar-brand>
                            <b-button-group>
                                <b-dropdown left text="Sort">
                                    <b-dropdown-item>By name</b-dropdown-item>
                                    <b-dropdown-item>By recent</b-dropdown-item>
                                    <b-dropdown-item>by last played</b-dropdown-item>
                                </b-dropdown>
                            </b-button-group>
                        </b-navbar-brand>
                        <!-- Right aligned nav items -->
                        <b-navbar-nav class="ml-auto">
                            <span class="searchCampaign">
                                <input v-model="searchQuery" placeholder="Search campaigns" />
                                <router-link to="/create" tag="b-button">Create New Campaign</router-link>
                            </span>
                        </b-navbar-nav>
                    </b-navbar>
                    <section v-if="!error">
                        <b-container fluid class="bv-example-row bv-example-row-flex-cols border border-top-0 p-4">
                            <b-row cols="3" class="p-1" style="height: 100%; min-height: 550px;">
                                <b-col
                                    v-for="(campaign, i) in filteredCampaigns"
                                    :key="campaign.id"
                                    class="campaignBorder box"
                                    align-self="start"
                                >
                                    <b-row>
                                        <b-col v-if="campaign.imageUrl === ''">
                                            <b-img
                                                class="campImg"
                                                thumbnail
                                                center
                                                fluid
                                                :src="defaultCampaignImage"
                                                alt="Default Campaign Image"
                                            ></b-img>
                                        </b-col>
                                        <b-col v-else>
                                            <b-img
                                                class="campImg"
                                                thumbnail
                                                center
                                                fluid
                                                :src="campaign.imageUrl"
                                                alt="Campaign Image"
                                            ></b-img>
                                        </b-col>
                                    </b-row>

                                    <b-row>
                                        <b-col>
                                            <p class="text-right mr-2 font-weight-bold">
                                                {{ campaign.created }}&nbsp;<b-icon icon="calendar4"></b-icon>
                                            </p>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col>
                                            <p
                                                v-if="campaign.name"
                                                class="font-weight-bold text-light bg-secondary p-2 rounded"
                                            >
                                                {{ campaign.name }}
                                            </p>
                                            <p v-else class="text-danger">
                                                Edit campaign to choose a name!
                                            </p>
                                            <svg
                                                viewBox="0 0 100 100"
                                                height="28"
                                                width="28"
                                                style="user-select: none;"
                                            >
                                                <title>{{ campaign.players.length }} players</title>
                                                <circle cx="50" cy="36" r="36" fill="black" />
                                                <path
                                                    d="M 0 100 L 18 74 L 26 68 H 74 L 82 74 L 100 100 Z"
                                                    fill="black"
                                                />
                                                <text fill="white" x="50" y="85" font-size="70" text-anchor="middle">
                                                    <!-- end drawing -->
                                                    {{ campaign.players.length }}
                                                </text>
                                            </svg>
                                            <span class="text-dark">&nbsp;Players</span>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col>
                                            <p class="text-right">
                                                <router-link
                                                    :to="{
                                                        name: 'live-play',
                                                        params: { sessionId: campaign.id, sceneId: 'debug' },
                                                    }"
                                                    tag="button"
                                                    class="play-button"
                                                    @click.native="playClick(campaign)"
                                                    >Play</router-link
                                                >
                                                <!-- Collapse button -->
                                                <span class="p-0 bg-light light">
                                                    <!-- toast -->

                                                    <b-button
                                                        v-b-tooltip.hover.v-info
                                                        :title="'Display information'"
                                                        class="mb-0 p-2"
                                                        variant="primary"
                                                        @click="display(campaign, i)"
                                                        v-on:click.capture="$bvToast.show('info-toast')"
                                                    >
                                                        Info
                                                    </b-button>
                                                    <section v-if="i == index">
                                                        <b-toast
                                                            id="info-toast"
                                                            title="INFORMATION PANEL"
                                                            auto-hide
                                                            autoHideDelay="10000"
                                                            variant="light"
                                                            solid
                                                        >
                                                            <p
                                                                class="bg-secondary text-light p-2 font-weight-bold text-left rounded"
                                                            >
                                                                {{ campaign.name }}
                                                            </p>
                                                            <p class="font-weight-bold text-left">
                                                                Owner:
                                                                <span class="font-weight-normal">{{
                                                                    campaign.owner
                                                                }}</span>
                                                            </p>
                                                            <div class="font-weight-bold text-left">Description</div>
                                                            <div class="campaign-description">
                                                                {{ campaign.description }}
                                                            </div>
                                                            <p class="font-weight-bold text-left">
                                                                Start Date:&nbsp;{{ campaign.created }}
                                                            </p>
                                                            <p class="font-weight-bold text-left">
                                                                Last Played:&nbsp;{{ campaign.lastModified }}
                                                            </p>
                                                            <span v-if="oidcUser && oidcUser.name == campaign.owner">
                                                                <a :href="`/invite/${campaign.id}`">Invite Link</a>
                                                                <router-link :to="`/edit/${campaign.id}`" tag="button">
                                                                    Edit
                                                                </router-link>
                                                                <button @click="deleteCampaign(campaign)">
                                                                    Delete
                                                                </button>
                                                            </span>
                                                            <router-link
                                                                :to="{
                                                                    name: 'live-play',
                                                                    params: {
                                                                        sessionId: campaign.id,
                                                                        sceneId: 'debug',
                                                                    },
                                                                }"
                                                                class="test"
                                                                @click.native="playClick(campaign)"
                                                                tag="button"
                                                                >Play
                                                            </router-link>
                                                        </b-toast>
                                                    </section>
                                                    <!-- end of toast -->
                                                </span>
                                            </p>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </b-container>
                    </section>
                </div>
            </div>
        </b-container>
        <section v-if="error">
            {{ error }}
        </section>
    </main>
</template>

<script>
import axios from 'axios';
import { mapActions, mapGetters } from 'vuex';
import moment from 'moment';

export default {
    data() {
        return {
            campaigns: [],
            searchQuery: '',
            focusedCampaign: null,
            error: '',
            imageUrl: '',
            index: '',
            defaultCampaignImage: 'static/images/defaultCampaignImg.jpg',
        };
    },
    computed: {
        ...mapGetters(['oidcUser']),
        filteredCampaigns: function() {
            return this.campaigns.filter(c => {
                c.created = moment(c.created, 'YYYY-MM-DD').format('MM/DD/YYYY');
                c.lastModified = moment(c.lastModified, 'YYYY-MM-DD').format('MM/DD/YYYY');
                if (c.lastModified == '01/01/0001') {
                    c.lastModified = 'Not played yet !';
                }
                return c.name.toLowerCase().includes(this.searchQuery.toLowerCase());
            });
        },
    },
    async beforeRouteEnter(to, from, next) {
        try {
            next(async vm => {
                const profile = await vm.me();
                console.log(JSON.stringify(profile));
                const response = await axios.get(`/api/campaigns`);
                vm.setData(response.data);
            });
        } catch (error) {
            next(vm => vm.setError(error));
        }
    },
    methods: {
        ...mapActions('profile', {
            me: 'me',
        }),
        setData(data) {
            this.campaigns = data;
        },
        setError() {
            this.error = 'Error loading campaign list.';
        },
        focusCampaign(campaign) {
            this.focusedCampaign = campaign;
        },
        display(campaign, i) {
            this.campaign = campaign;
            this.index = i;
        },
        unfocusCampaign() {
            this.focusedCampaign = null;
        },
        playClick(campaign) {
            let date = new Date();
            campaign.lastModified = moment(date, 'YYYY-MM-DD').format('MM/DD/YYYY');
            this.campaign = campaign;
            let method = this.campaign.id ? 'put' : 'post';
            axios[method]('/api/campaigns', this.campaign).then(() => {});
        },
        refresh() {
            axios
                .get(`/api/campaigns`)
                .then(response => {
                    this.setData(response.data);
                })
                .catch(error => {
                    this.setError(error);
                });
        },
        deleteCampaign(campaign) {
            axios.delete(`/api/campaigns/${campaign.id}`).then(() => {
                this.refresh();
                this.hover = false;
            });
        },
    },
};
</script>

<style lang="scss" scoped>
.box {
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(228, 220, 220);
    height: 300px;
    border-radius: 6px;
    color: black;
}
.campaignImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.campaign-description {
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    height: 200px;
}

.b-toast {
    position: absolute;
    top: 260px;
    left: 5px;
    color: black;
    min-width: 500px;
}
.d-flex:hover {
    background-color: lightgray;
}
.menu-items {
    margin-right: 30px;
}
.play-button {
    position: relative;
    top: 2px;
    background-color: #0275d8;
    border-radius: 5px;
    margin: 1px;
    padding: 9px;
}
.searchCampaign input {
    position: relative;
    top: 4px;
    margin-right: 10px;
    border: 1px solid gray;
    height: 35px;
}
.campImg {
    padding: 0px;
    margin: 2px;
    width: 100%;
    height: 110px;
    border-radius: 10px;
    border: 0.5px solid white;
    object-fit: cover;
}
#info-toast button {
    margin: 1px;
}
#info-toast a {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
}
.b-toast button {
    background-color: rgb(49, 103, 190);
}
</style>
