<template>
    <div class="window" v-bind:class="{ hidden: collapseWindow }">
        <div class="header" @click="collapse">
            <slot name="header" />
        </div>
        <div class="content">
            <slot />
        </div>
    </div>
</template>
<script>
export default {
    props: {
        collapseOnClick: {
            type: Boolean,
            default: true,
        },
    },
    data: function() {
        return {
            collapseWindow: false,
        };
    },
    methods: {
        collapse() {
            console.log(this.collapseOnClick);
            if (this.collapseOnClick) {
                this.collapseWindow = !this.collapseWindow;
            }
        },
    },
};
</script>
<style scoped>
.window {
    width: 100%;
    background: #31313a;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    flex-shrink: 1;
    flex-basis: 40vh;
    transition: flex-basis 0.5s ease;
}
.header {
    font-size: 20px;
    color: #fff;
    padding: 15px;
    background: #31313ad8;
    position: relative;
    width: 100%;
    height: 60px;
    user-select: none;
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    z-index: 500;
    transition: background 0.5s ease;
    cursor: pointer;
}
.content {
    margin-top: -60px;
    height: 100%;
}
.window.hidden {
    flex-basis: 60px;
}
.window.hidden .header {
    background: #31313a;
}
</style>
