<template>
    <div class="chat-card" @click="showRolls = !showRolls">
        <div class="main-message">
            <img id="profile-picture" v-bind:src="profilePicture" alt="" />
            <div id="message-body">
                <div id="username">
                    {{ username }}
                </div>
                <div id="message-content" v-html="chatMessage" />
            </div>
        </div>
        <div v-bind:class="{ hidden: !showRolls }">
            <div v-for="roll in rolls" :key="roll.index" class="sub-message">
                <div class="head">{{ roll.result }}</div>
                <div class="message">{{ roll.formula }}</div>
                <img src="/static/icons/chat/d20_outline.svg" id="d20-icon" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        profilePicture: {
            type: String,
            default: '/static/icons/layout/mythic_wolf.svg',
        },
        username: {
            type: String,
            required: true,
        },
        message: {
            type: Object,
            default: function() {
                return { message: '', dice: [] };
            },
        },
    },
    data: function() {
        return {
            showRolls: false,
        };
    },
    computed: {
        // this will be sanitized by the server
        chatMessage() {
            const regex = /\[\d+\|\d+\]/g;
            let message = this.message;
            let text = message.message;
            const results = text.match(regex);
            if (!results || !message.dice) {
                return text;
            }
            for (var index = 0; index < results.length; index++) {
                const value = message.dice[index].result;
                text = text.replace(results[index], `<div class="highlight">${value}</div>`); // TDOD: Consider https://vuejs.org/v2/guide/render-function.html
            }
            return text;
        },
        rolls() {
            return this.message.dice;
        },
    },
};
</script>

<style scoped>
.hidden {
    display: none;
}
.chat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chat-card .main-message {
    color: #fff;
    padding: 15px 20px;
    background: #1c1c1c;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    overflow-x: hidden;
}
.chat-card .main-message #profile-picture {
    height: 50px;
}
.chat-card .main-message #message-body {
    width: 100%;
    word-wrap: break-word;
    padding-left: 15px;
}
.chat-card .main-message #message-body #username {
    font-weight: bold;
    padding-bottom: 5px;
}
.chat-card .sub-message {
    background: rgb(56, 56, 56);
    background: linear-gradient(180deg, rgba(35, 35, 35, 1) 0%, rgba(27, 27, 27, 1) 100%);
    font-weight: 400;
    display: flex;
    align-items: stretch;
    color: #fff;
}
.chat-card .sub-message .head {
    background: #444444;
    color: #fff;
    min-width: 50px;
    max-width: 100px;

    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-card .sub-message .message {
    align-self: center;
    flex-grow: 1;
    padding: 15px;
    padding-right: 5px;
}
.chat-card .sub-message #d20-icon {
    justify-self: end;
    height: 30px;
    align-self: center;
    padding-right: 15px;
}
</style>
// Global styles
<style>
.highlight {
    background: #444444;
    border: 3px #1b1b1b;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline;
}
</style>
