<template>
    <input v-model="message" @keydown.enter="sendMessage" placeholder="Type a message" />
</template>

<script>
import moment from 'moment';
import { mapState } from 'vuex';

export default {
    data() {
        return {
            message: '',
        };
    },
    computed: {
        ...mapState('live', {
            sessionId: 'sessionId',
            director: 'director',
            userId: 'userId',
        }),
        ...mapState('profile', {
            me: 'me',
        }),
    },
    methods: {
        sendMessage() {
            var diceRoll = {
                timestamp: +moment(),
                userId: this.me.id,
                displayName: this.me.displayName,
                sessionId: this.sessionId,
                message: this.message,
            };
            this.director.submitRoll(diceRoll);
            this.message = '';
        },
    },
};
</script>

<style scoped>
.container {
    overflow-x: auto;
    bottom: 5px;
    right: 5px;
    padding: 0.5em;
    background-color: #ddd;
    font: x-small 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: 2px solid #345;
}
input {
    background: #444;
    color: #fff;
    width: 100%;
    border: 2px solid #1670b100;
    border-radius: 10px;
    transition: border 0.25s linear;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #1670b1;
}
</style>
