<template>
    <div class="chat-log">
        <div class="log" v-chat-scroll="{ always: false, smooth: true, notSmoothOnInit: true }">
            <ChatItem
                v-for="message in textOutput"
                :key="message.id"
                v-bind:username="message.displayName"
                v-bind:message="message.result"
            />
        </div>
        <div class="footer">
            <ChatInput />
        </div>
    </div>
</template>

<script>
import ChatInput from '@/components/play-view/Chat/ChatInput';
import ChatItem from './ChatItem';

export default {
    components: {
        ChatInput: ChatInput,
        ChatItem: ChatItem,
    },
    computed: {
        rollLog() {
            return this.$store.getters['gamestate/rollLog'];
        },
        textOutput() {
            let output = [];
            for (const diceResult of this.rollLog) {
                output.push(diceResult);
            }
            return output;
        },
    },
};
</script>

<style scoped>
.chat-log {
    background: #31313a;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.chat-log .log {
    overflow-y: auto;
}
.chat-log .log .chat-card {
    padding: 5px 0px;
}
.chat-log .log {
    padding-top: 65px;
}
.chat-log .footer {
    padding: 7px;
}
</style>
