<template>
    <header>
        <router-link to="/">
            <img src="/static/images/logo.svg" class="logo" />
        </router-link>

        <div class="menu">
            <ul>
                <li>Creations</li>
                <li>Tools</li>
                <li>Marketplace</li>
                <li>Forums</li>
            </ul>
        </div>

        <div v-if="me" class="user">
            <a @click="$emit('profileClick')"
                >Signed in as:
                <img class="profile" :src="me.imageUrl" width="25" height="25" />
                <strong>{{ me.displayName }}</strong>
            </a>
            <span>My Account </span>
            <button @click="signOutOidc">Sign out</button>
        </div>
    </header>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    computed: {
        ...mapState('profile', {
            me: 'me',
        }),
    },
    methods: {
        ...mapActions(['signOutOidc']),
    },
};
</script>

<style lang="scss" scoped>
header {
    background-color: #636a70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    display: block;
    width: 225px;
    border: 1px solid white;
    border-left-style: none;
    border-top-style: none;
    border-right: 2px solid gray;
    border-bottom-style: none;
    padding-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    color: white;
    button {
        margin-left: 1rem;
    }
}

.menu {
    color: white;
    ul {
        position: relative;
        right: 170px;
        width: 100%;

        li {
            margin: 20px;
            text-shadow: 2px 2px 8px rgb(94, 91, 91);
        }

        li:hover {
            font-weight: bold;
            cursor: pointer;
            border-bottom: 1px solid white;
        }
    }
}
button {
    background-color: rgb(42, 101, 195);
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user span {
    margin-left: 14px;
    margin-right: 2px;
}

.user span:hover {
    font-weight: bold;
    cursor: pointer;
}

img {
    border-radius: 50%;
    object-fit: cover;
}
</style>
