<template>
    <div>
        <TheHeader @profileClick="showEditor(true)" />
        <router-view></router-view>
        <ProfileEditor />
    </div>
</template>

<script>
import TheHeader from './TheHeader';
import ProfileEditor from '../../components/profile/Editor.vue';
import { mapActions } from 'vuex';

export default {
    components: {
        TheHeader,
        ProfileEditor,
    },
    methods: {
        ...mapActions('profile', {
            showEditor: 'edit',
        }),
    },
};
</script>
