<template>
    <div class="scene" :id="scene._id">
        <img :id="scene._id" :src="scene.stage.elements[0].asset.src" v-bind:class="{ selected: selected }" />
        <div class="information-overlay" @click="onClick" @dblclick="edit">
            <div id="scene-name">{{ scene.name }}</div>
            <div class="buttons">
                <div class="moveAll" @click="onMoveAll">
                    <img src="/static/icons/scenes/people.svg" />
                    Move all
                </div>
                <div class="edit" @click="edit">
                    <img src="/static/icons/scenes/edit.svg" />
                </div>
            </div>
            <div class="playerlist">
                <img src="/static/icons/layout/mythic_wolf.svg" v-for="n in playersInThisScene.length" v-bind:key="n" />
            </div>
        </div>
        <!-- <svg viewBox="0 0 100 100" height="28" width="28" style="user-select: none;">
            <title>{{ playersInThisScenePreview }}</title>
            <circle cx="50" cy="36" r="36" fill="black" />
            <path d="M 0 100 L 18 74 L 26 68 H 74 L 82 74 L 100 100 Z" fill="black" />
            <text fill="white" x="50" y="85" font-size="70" text-anchor="middle">
                {{ playersInThisScene.length }}
            </text>
        </svg>
        <Button @click="onMoveAll">Move all</Button> -->
    </div>
</template>

<script lang="ts">
import { mapState } from 'vuex';
export default {
    props: {
        scene: {
            type: Object,
            default: function() {
                return {
                    _id: 'default',
                    stage: {
                        elements: [
                            {
                                asset: { kind: 'image', src: '/static/assets/marc.png' },
                            },
                        ],
                    },
                };
            },
        },
    },
    data: function() {
        return {
            selected: false,
        };
    },
    computed: {
        ...mapState('collections', {
            players: 'players',
        }),
        playersInThisScene: function() {
            if (!this.players) {
                return [];
            }
            console.log(Object.values(this.players).filter(p => p['sceneId'] === this.scene._id));
            return Object.values(this.players).filter(p => p['sceneId'] === this.scene._id);
        },
        playersInThisScenePreview: function() {
            const players = this.playersInThisScene;
            return Object.values(players)
                .map(p => p['userId'])
                .join('\n');
        },
    },
    methods: {
        onClick: function() {
            this.$emit('onSelect', { scene: this.$props.scene, component: this });
        },
        edit: function() {
            this.$emit('onEdit', { scene: this.$props.scene });
        },
        onMoveAll: function() {
            this.$emit('onMoveAll', { scene: this.$props.scene });
        },
    },
};
</script>

<style scoped>
.scene {
    width: 100%;
    height: 150px;
    margin: 5px 0px;
    position: relative;
}

.scene img {
    width: 100%;
    height: 100%;

    opacity: 0.25;

    object-fit: cover;
    position: absolute;
    z-index: 1;

    transition: opacity 0.2s;
}

.scene img.selected {
    opacity: 1;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons div {
    background: #1c1c1c59;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 2px;
    user-select: none;
    cursor: pointer;
}

.buttons div:hover {
    background: #1c1c1cd7;
}

.buttons img {
    height: 20px;
    width: 20px;
    z-index: 1000;
    position: relative;
    opacity: 1;
    margin-right: 5px;
}
.buttons .edit img {
    margin: 0px;
}

.scene .information-overlay {
    position: relative;
    z-index: 3 !important;
    display: flex;
    width: 100%;
    height: 100%;

    align-items: flex-end;
    background: linear-gradient(180deg, rgba(49, 49, 58, 0) 30%, rgba(49, 49, 58, 0.9) 95%);

    transition: background 0.5s;
    justify-content: space-between;
    padding: 5px 15px;
}

.scene .information-overlay #scene-name {
    font-size: 25px;
    user-select: none;
}

.playerlist {
    position: absolute;
    height: 10px;
    top: 10px;
    left: 10px;
}
.playerlist img {
    height: 30px;
    width: 30px;
    position: relative;
    opacity: 1;
    margin-left: -15px;
}
.playerlist img:first-child {
    margin-left: 0px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>
