<template>
    <div class="header">
        <!-- Mythic Logo -->
        <img
            id="logo"
            v-bind:class="{ faded: !headerToolbarExtended }"
            v-on:click="headerToolbarExtended = true"
            src="/static/icons/layout/mythic_wolf.svg"
        />
        <!--  -->
        <div id="toolbar" v-bind:class="{ hide: !headerToolbarExtended }">
            <ToolbarItem image-location="/static/icons/layout/back.svg" v-bind:on-click="returnToCampaignList">
            </ToolbarItem>
            <ToolbarItem image-location="/static/icons/layout/account.svg" v-bind:on-click="goToAccount"> </ToolbarItem>
        </div>
        <div
            id="right_arrow"
            v-on:click="headerToolbarExtended = !headerToolbarExtended"
            v-bind:class="{ filled_background: headerToolbarExtended, faded: !headerToolbarExtended }"
        >
            <img src="/static/icons/layout/right_arrow.svg" />
        </div>
    </div>
</template>

<script>
import HeaderToolbarItem from './HeaderToolbarItem';
export default {
    components: {
        ToolbarItem: HeaderToolbarItem,
    },

    data() {
        return {
            headerToolbarExtended: true,
        };
    },
    methods: {
        returnToCampaignList() {
            this.$router.push({ path: '/campaign-list' });
        },
        goToAccount() {
            this.$router.push({ name: 'profile' });
        },
    },
};
</script>

<style scoped>
.header {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    user-select: none;
}
/* Compensating for outside CSS rules */
.header * {
    box-sizing: content-box !important;
}
.header #logo {
    width: 100px;
    height: 100px;
    z-index: 1000;
    transition: opacity 0.2s;
    cursor: pointer;
}
.faded {
    opacity: 0.3;
    transition: opacity 1s ease 6s !important;
}

.header #right_arrow {
    height: 30px;
    padding: 20px 15px;
    transition: background 0.9s;
    z-index: 1001;
    cursor: pointer;
}
.header #right_arrow.filled_background {
    background: #31313acf;
    margin-left: -1px;
    transform: scaleX(-1);
}
.header #right_arrow img {
    height: 100%;
}
.header #toolbar {
    height: 70px;
    background: #31313a;
    margin-left: -15px;
    z-index: 999;
    transition: all 0.9s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header #toolbar.hide {
    opacity: 0;
    margin-left: -150px;
    pointer-events: none;
}
.header #toolbar .ToolbarItem:first-child {
    padding-left: 30px;
}
.header #toolbar .ToolbarItem {
    padding: 10px 18px;
    height: 30px;
}
</style>
