<template>
    <div class="ToolbarItem" v-on:click="onClick">
        <img v-bind:src="imageLocation" />
    </div>
</template>

<script>
/**
 * Header toolbar item component.
 * @displayName Header toolbar item
 */
export default {
    props: {
        /**
         * Location to find the image to create the toolbar item.
         */
        imageLocation: {
            type: String,
            required: true,
        },
        /**
         * Gets called when user clicks the toolbar item
         */
        onClick: {
            type: Function,
            default: event => {
                console.log(`Toolbar item ${event.target} was clicked.`);
            },
        },
    },
};
</script>
<style>
.ToolbarItem {
    cursor: pointer;
}
.ToolbarItem img {
    height: 100%;
}
</style>
