<template>
    <div style="height: 100vh; width: 100vw">
        <Scene
            ref="scene"
            @tokenmove="onTokenMove"
            @onCharacterChanged="onCharacterChanged"
            @onDraw="drawEvent"
        ></Scene>
        <UserPanel></UserPanel>
        <Header />
        <Sidebar>
            <Window>
                <template v-slot:header>Chat</template>
                <Chat />
            </Window>
            <Window ref="sceneWindow" v-bind:collapse-on-click="false">
                <template v-slot:header>
                    <div class="scene-header">
                        <div @click="collapseSceneWindow">
                            Scenes
                        </div>
                        <svg
                            viewBox="0 0 16 16"
                            class="bi bi-plus"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                            @click="sceneAddClick"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                            />
                            <path
                                fill-rule="evenodd"
                                d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"
                            />
                        </svg>
                    </div>
                </template>
                <Scenes ref="sceneCollection" />
            </Window>
            <Window>
                <template v-slot:header>Characters</template>
                <Character />
            </Window>
        </Sidebar>
    </div>
</template>

<script>
import Vue from 'vue';
import VueKonva from 'vue-konva';
import { mapState } from 'vuex';

import Header from '@/components/play-view/Header/Header.vue';

import LivePlayDirector from '@/core/live/LivePlayDirector';
import Scene from '@/components/scene/Scene.vue';

import UserPanel from '@/components/userPanel/UserPanel.vue';

import Scenes from '@/components/play-view/Scenes/Scenes';
import Characters from '@/components/play-view/Characters/Character.vue';

import Chat from '@/components/play-view/Chat/Chat.vue';
import Window from '@/components/play-view/Sidebar/Window.vue';

import Sidebar from '@/components/play-view/Sidebar/Sidebar.vue';

Vue.use(VueKonva);

export default {
    components: {
        Scene: Scene,
        UserPanel: UserPanel,
        Header: Header,
        Scenes: Scenes,
        Chat: Chat,
        Window: Window,
        Sidebar: Sidebar,
        Character: Characters,
    },
    props: {
        sessionId: {
            type: String,
            default: '',
        },
        sceneId: {
            type: String,
            default: '',
        },
    },
    computed: {
        ...mapState('drawing', {
            drawnStrokes: 'drawnStrokes',
        }),
        gridSpace() {
            return this.$refs.scene.renderContext.gridSpace;
        },
    },
    provide: function() {
        return {
            director: this.director,
        };
    },
    watch: {
        sceneId: {
            handler() {
                this.loadScene({
                    sessionId: this.sessionId,
                    sceneId: this.sceneId,
                });
            },
            deep: true,
        },
        drawnStrokes: {
            handler(strokes) {
                this.director.drawStrokes(this.sceneId, strokes);
            },
        },
    },
    beforeRouteEnter(to, from, next) {
        var fromName;
        if (from.name) fromName = from.name;
        else fromName = from.path.replace(/\//g, '-');
        Vue.$gtag.event(`from-${fromName}`, {
            event_category: 'start-campaign',
        });
        next();
    },
    beforeCreate() {
        this.director = new LivePlayDirector(this.$store);
        this.director.init();
    },
    created() {
        this.loadScene({ sessionId: this.sessionId, sceneId: this.sceneId });
    },
    mounted() {
        // Need to wait until child components exist before attaching listeners
        this.$nextTick(() => {
            this.fitSceneToWindow();
            window.addEventListener('resize', this.fitSceneToWindow);
        });
    },
    async beforeDestroy() {
        this.$store.dispatch('gamestate/clear');
        window.removeEventListener('resize', this.fitSceneToWindow);
        await this.director.disconnect();
    },
    methods: {
        async loadScene({ sessionId, sceneId }) {
            console.log(`Scene Loaded: ${sessionId}/${sceneId}`);
            if (sceneId == 'debug') {
                const liveDebug = await import('./debug/LivePlayDebug');
                await liveDebug.loadDebugScene({ vm: this, sessionId, sceneId });
                return;
            }
            console.warn(`Unknown scene: ${sessionId}/${sceneId}...`);
        },
        fitSceneToWindow() {
            this.$refs.scene.fitToContainer();
        },
        onTokenMove({ entity, pos }) {
            this.director.moveToken(entity.id, pos);
        },
        onCharacterChanged({ characterId, patch }) {
            this.director.updateToken(characterId, patch);
        },
        onSceneChanged({ sceneId, patch }) {
            this.director.updateScene(sceneId, patch);
        },
        drawEvent({ strokes }) {
            this.director.drawStrokes(this.sceneId, strokes);
        },
        sceneAddClick() {
            this.$refs.sceneCollection.onAdd();
        },
        collapseSceneWindow() {
            this.$refs.sceneWindow.collapseWindow = !this.$refs.sceneWindow.collapseWindow;
        },
    },
};
</script>

<style>
body {
    margin: 0;
}
.scene-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.scene-header div {
    flex-grow: 1;
}
.scene-header svg {
    height: 30px;
}
</style>
