<template>
    <v-layer ref="drawing">
        <v-line v-for="shape in shapeConfigs" :key="shape.id" :config="shape"></v-line>
    </v-layer>
</template>

<script>
import { mapState } from 'vuex';
import Konva from 'konva';

export default {
    props: {
        renderContext: {
            type: Object,
            required: true,
        },
        stage: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            drawingConfig: {
                isPaint: false,
                mode: 'brush',
                lastLine: null,
            },
        };
    },
    computed: {
        ...mapState('drawing', {
            isDrawing: 'active',
            receivedLines: 'receivedLines',
            drawerLastActive: 'drawerLastActive',
        }),
        ...mapState('live', {
            userId: 'userId',
        }),
        shapeConfigs: function() {
            if (!this.receivedLines) {
                return [];
            }

            const gridSpace = this.renderContext.gridSpace;
            let configs = [];
            let shapes = this.receivedLines;
            const scaleFacotr = 50 / this.stage.grid.size;
            let scale = { x: gridSpace.scale * scaleFacotr, y: gridSpace.scale * scaleFacotr };

            console.log('shapes', shapes);
            for (let shape of shapes) {
                let config = {
                    ...shape.attrs,
                    scale,
                };
                configs.push(config);
            }

            console.log(configs);

            return configs;
        },
    },
    mounted() {
        let stage = this.$refs.drawing.getNode().getStage();
        stage.on('mousedown', e => this.onDrawingStart(e));
        stage.on('mousemove', e => this.onDrawingMove(e));
        stage.on('mouseup', e => this.onDrawingEnd(e));
        window.setInterval(() => {
            for (let userId of Object.keys(this.drawerLastActive)) {
                let drawingAge = Date.now() - this.drawerLastActive[userId];
                if (drawingAge > 5000) {
                    console.log('Purging user', userId);
                    this.$store.dispatch('drawing/purgeUsersLines', { userId });
                }
            }
        }, 100);
    },
    methods: {
        getRelativePointerPosition(node) {
            var transform = node.getAbsoluteTransform().copy();
            transform.invert();
            var pointerPosition = node.getStage().getPointerPosition();
            return transform.point(pointerPosition);
        },
        onDrawingStart() {
            console.log('drawingStart');
            if (!this.isDrawing) {
                return;
            }

            this.drawingConfig.isPaint = true;
            var pos = this.getRelativePointerPosition(this.$refs.drawing.getNode().getStage());
            this.drawingConfig.lastLine = new Konva.Line({
                stroke: '#df4b26', // TODO make this random per user
                strokeWidth: 5,
                globalCompositeOperation: this.drawingConfig.mode === 'brush' ? 'source-over' : 'destination-out',
                points: [pos.x, pos.y],
                name: this.userId, // TODO replace this with actual data
            });
            this.$refs.drawing
                .getNode()
                .getLayer()
                .add(this.drawingConfig.lastLine);
        },
        onDrawingEnd() {
            if (!this.drawingConfig.isPaint) {
                return;
            }
            this.drawingConfig.isPaint = false;
            if (!this.drawingConfig.lastLine) {
                return;
            }

            // Adjust line for current grid scale
            const gridSpace = this.renderContext.gridSpace;
            const scaleFactor = 1 / ((gridSpace.scale * 50) / this.stage.grid.size);
            console.log('scaleFactor', scaleFactor);
            this.drawingConfig.lastLine.points(this.drawingConfig.lastLine.points().map(p => p * scaleFactor));

            this.$store.dispatch('drawing/drawLine', {
                sceneId: this.activeScene ? this.activeScene._id : null,
                line: this.drawingConfig.lastLine.toObject(),
            });
            this.drawingConfig.lastLine.destroy();
            this.drawingConfig.lastLine = null;
        },
        onDrawingMove() {
            if (!this.drawingConfig.isPaint) {
                return;
            }
            console.log(this.$refs.drawing.getNode().getStage());
            const pos = this.getRelativePointerPosition(this.$refs.drawing.getNode().getStage());
            var newPoints = this.drawingConfig.lastLine.points().concat([pos.x, pos.y]);
            this.drawingConfig.lastLine.points(newPoints);
            this.$refs.drawing
                .getNode()
                .getLayer()
                .batchDraw();
        },
    },
};
</script>
